.content {
  width: 100%;
  height: 780px;
  background: linear-gradient(to bottom, #202659, #1c8d9c, #202659);
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
  
  &::before {
    content: '';
    width: 550px;
    height: 550px;
    position: absolute;
    top: 0;
    right: 40px;
    background-image: url(../../images/fish.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  .title {
    width: 730px;
    margin: 0 40px 0;
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    color: #c8c7fc;
    z-index: 2;
  }

  .container {
    width: 830px;
    height: 330px;
    z-index: 2;

    .text {
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      color: #c8c7fc;
    }
  }

  .image {
    width: 120px;
    height: 120px;
    align-self: center;
    border-radius: 20px;
    transform: rotate(18deg);
  }
}